<div class="quizz-form">
  <div class="form-group">

    <select class="form-control">
      <option value="0">Choisir une Catégorie</option>
      <option  *ngFor="let category of categories" value="{{category.id}}">{{category.label}}</option>

    </select>
  </div>
  <div class="form-group">
    <select class="form-control">
          <option value="0">choisir un  Niveau Difficulté</option>
          <option *ngFor="let difficulty of difficulties" value="{{difficulty.id}}">{{difficulty.label}}</option>
        </select>
  </div>
  <div class="form-group">
    <input class="form-control" type="text" name="nbQuestions" [(ngModel)]="nbQuestions" placeholder="Nombre de questions">
  </div>
  <button (click)="submit()" class="btn btn-primary" type="button"> Lancer Le QCM</button>
</div>
<!--<div>

  <ul>
    <li *ngFor="let student of students">{{student.name}}</li>
  </ul>

</div>
-->